<!DOCTYPE html>
<html lang="en">
<head>

  <!-- References a Handlebars partial in views/partials/head.handlebars -->
  {{>head}}

</head>

<body>

<!-- The HTML for each view goes here -->
<!-- <div class="container"> -->
{{{body}}}
<!-- </div> -->

</body>
</html>
